@model CMSApp.Models.Contact

@{
    var active = CMSApp.Models.Status.Active;
    string buttonText = Model.Status == active ? "Deactivate" : "Activate";
    var setStatusTo = Model.Status == active ? CMSApp.Models.Status.Inactive : active;
}
@{
    ViewBag.Title = buttonText;
}

<h2>@buttonText</h2>

<h3>Are you sure you want to @buttonText the contact?</h3>
<div>
    <h4>Contact</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="hidden" value=@setStatusTo.ToString() name="setStatusTo" />
            <input type="submit" value="Confirm" class="btn btn-default btn-success" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
